pool:
  name: Arm64
  vmImage: 'ubuntu-22.04'

trigger:
- main
resources:
- repo: self
variables:
  imagePullSecret: 'regcred'
stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    steps:

    - task: qetza.replacetokens.replacetokens-task.replacetokens@6
      displayName: Replace tokens in k8s files
      inputs:
        rootDirectory: '$(Build.SourcesDirectory)/k8s'
        targetFiles: '*.yaml'
        encoding: 'auto'
        tokenPattern: 'doubleunderscore'
        actionOnMissing: 'fail'
        keepToken: false
        actionOnNoFiles: 'fail'

    - task: KubernetesManifest@0
      displayName: Deploy to Kubernetes cluster
      inputs:
        kubernetesServiceConnection: K8SOracleCloud
        action: deploy
        manifests: |
          $(Build.SourcesDirectory)/k8s/certificate.yaml
          $(Build.SourcesDirectory)/k8s/secrets.yaml
          $(Build.SourcesDirectory)/k8s/configmap.yaml
          $(Build.SourcesDirectory)/k8s/deployment.yaml
          $(Build.SourcesDirectory)/k8s/services.yaml
          $(Build.SourcesDirectory)/k8s/ingress.yaml
        imagePullSecrets: |
          $(imagePullSecret)
        containers: 'rabbitmq:3-management'